#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store


#############
## Python
#############

*.py[cod]

#############
## Etc
#############

~*
tmp*.txt
*.class
*.zip
.idea
*.test
*.kotlin_module
build
.gradle

gen.bat
prep.bat
redo.bat
reinsert.bat
test_output.txt
Examples/ErrorReporting/trace_real.txt
Examples/Logging/atomicLog.txt
Examples/Logging/simpleLogFile.txt
Examples/ObjectOrientedDesign/ExploreMaze.jar
DataFiles/*
Soln1.txt
*.jar
